@using Blog_MVC.Enums
@using Blog_MVC.Services.Interfaces
@inject IImageService _ImageService
@inject IBlogPostService _BlogPostService

@{
}



<!-- Start Sidebar Area  -->
<div class="sidebar-inner">
    <!-- Start Categories Widget  -->
    <div class="axil-single-widget widget widget_categories mb--30">
        <ul>
            @foreach (Category category in (await _BlogPostService.GetCategoriesAsync()).Take(4))
            {
                <li class="cat-item">
                    <a href="#" class="inner">
                        <div class="thumbnail">
                            <img src="@_ImageService.ConvertByteArrayToFile(category.ImageData!,category.ImageType!, (int)DefaultImage.BlogPostImage)" alt="Category Image">
                        </div>
                        <div class="content">
                            <h5 class="title">@category.Name</h5>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
    <!-- End Categories Widget  -->

    <!-- Start Search Widget  -->
    <div class="axil-single-widget widget widget_search mb--30">
        <h5 class="widget-title">Search</h5>
        <form asp-action="SearchIndex" asp-controller="Home">
            <div class="axil-search form-group">
                <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                <input type="text" class="form-control" placeholder="Search" name="SearchString" id="SearchString">
            </div>
        </form>
    </div>
    <!-- End Search Widget  -->

    <!-- Start Popular Posts  -->
    <div class="axil-single-widget widget widget_postlist mb--30">
        <h5 class="widget-title">Popular Posts</h5>
        <!-- Start Post List  -->
        <div class="post-medium-block">

            @foreach (BlogPost blogPost in (await _BlogPostService.GetPopularBlogPostsAsync()).Take(3))
            {
                <!-- Start Single Post -->
                <div class="content-block post-medium mb-20">
                    <div class="post-thumbnail">
                        <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                            <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!, blogPost.ImageType!, (int)DefaultImage.BlogPostImage)">
                        </a>
                    </div>
                    <div class="post-content">
                        <h6 class="title">
                            <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">@blogPost.Title</a>
                        </h6>
                        <div>
                            <ul>
                                <li>@blogPost.DateCreated.ToString("MMM dd, yyyy")</li>
                                <li>@blogPost.Comments.Count Comments</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Post -->
            }

        </div>
        <!-- End Post List  -->

    </div>
    <!-- End Popular Posts  -->

    <!-- Start Social Icon Links  -->
    <div class="axil-single-widget widget widget_social mb--30">
        <h5 class="widget-title">Check out my other work!</h5>
        <!-- Start Post List  -->
        <ul class="social-icon md-size justify-content-center">
            <li><a href="https://alexyang.netlify.app/"><i class="bi bi-journal-album"></i></a></li>
            <li><a href="https://www.github.com/aDOTyang"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/alexyanglinked"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
        <!-- End Post List  -->
    </div>
    <!-- End Social Icon Links -->
  
</div>
<!-- End Sidebar Area  -->