@model IPagedList<Blog_MVC.Models.BlogPost>
@using Blog_MVC.Enums
@using Blog_MVC.Services.Interfaces
@using X.PagedList
@using X.PagedList.Mvc.Core
@inject IImageService _ImageService

<link rel="stylesheet" href="~/css/site.css" />

<div class="text-center mt-5">
    <h1 class="display-4">Hi there, and welcome!</h1>
    <p>ADOT: A Development Blog</p>
    <p class="b2">Site created and Blog posts written by Alex Yang &copy; 2022</p>
</div>

<!-- Start Author Area  -->
<div class="axil-author-area axil-author-banner bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-author">
                    <div class="media">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/img/profpic_200.png" alt="Blog Author Image">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="author-info">
                                <h1 class="title"><a href="#">@Model.FirstOrDefault()?.Creator?.FullName</a></h1>
                                <span class="b3 subtitle">Fullstack Web Developer</span>
                            </div>
                            <div class="content">
                                <p class="b2">About Me:</p>
                                <span class="b1 description">I'm creating awesome websites with powerful & flexible functionalities 
                                    and beautiful front ends! I used C# in ASP.Net 6.0 plus Bootstrap & Javascript to make this blog! 
                                    Check out my portfolio to see what else I've made and what I'm able to bring to your team!</span>
                                <ul class="social-share-transparent size-md">
                                    <li><a href="https://www.github.com/aDOTyang"><i class="fab fa-github"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/alexyanglinked"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="mailto:ayangdevv@gmail.com"><i class="far fa-envelope"></i></a></li>
                                    <li><a href="https://alexyang.netlify.app/"><i class="bi bi-journal-album"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Author Area  -->

<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h2 class="title mb--40">Things I wrote</h2>
                </div>
            </div>
            <div class="col-lg-8 col-xl-8">
                @foreach(BlogPost post in Model)
                {
                    <!-- Start Post List  -->
                    <div class="content-block post-list-view mt--30">
                    <div class="post-thumbnail">
                        <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                            <img src="@_ImageService.ConvertByteArrayToFile(post.ImageData!, post.ImageType!,(int)DefaultImage.BlogPostImage)" alt="Blog Post Images">
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="post-cat">
                            <div class="post-cat-list">
                                <a class="hover-flip-item-wrapper" asp-controller="Categories" asp-action="Details" asp-route-id="@post.CategoryId">
                                    <span class="hover-flip-item">
                                        <span data-text="@post.Category!.Name">@post.Category.Name</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <h4 class="title">
                            <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                                @post.Title
                            </a>
                        </h4>
                        <div class="post-meta-wrapper">
                            <div class="post-meta">
                                <div class="content">
                                    <h6 class="post-author-name">
                                        <span class="hover-flip-item-wrapper">
                                            <span class="hover-flip-item">
                                                    <span data-text="@post.Creator?.FullName">@post.Creator?.FullName</span>
                                            </span>
                                        </span>
                                    </h6>
                                    <ul class="post-meta-list">
                                        <li>@post.DateCreated.ToString("MMM dd, yyyy")</li>
                                        <li>@post.Comments.Count</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- End Post List  -->
                }

            <div class="b2">Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount</div>
            
            @* uses similar method to slug in order to maintain page lengths and redirect to new pages *@
            <div class="b2">@Html.PagedListPager(Model, pageNum => Url.Action("Index",new {pageNum}))</div>
            </div>
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
            <partial name="_Sidebar" />
            </div>
        </div>
    </div>
</div>
<!-- End Post List Wrapper  -->