@model IPagedList<Blog_MVC.Models.BlogPost>
@using Blog_MVC.Enums
@using Blog_MVC.Services.Interfaces
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@inject IImageService _ImageService

@{
    ViewData["Title"] = "Details";
}

<h3></h3>

<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h2 class="title mb--40 lightText">Previous posts on this topic:</h2>
                </div>
                @*                @if (User.Identity!.IsAuthenticated)
                {
                <a class="mb-5 hover-flip-item-wrapper" asp-action="Create" asp-controller="BlogPosts">
                <span class="hover-flip-item">
                <span class="b1" data-text="Write Something New">Write Something New</span>
                </span>
                </a>
                }*@
            </div>
            <div class="col-lg-8 col-xl-8">
                @foreach (BlogPost post in Model)
                {
                    if (post.CategoryId == post.Category!.Id)
                    {
                        <!-- Start Post List  -->
                        <div class="content-block post-list-view mt--30">
                            <div class="post-thumbnail">
                                <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                                    <img src="@_ImageService.ConvertByteArrayToFile(post.ImageData!, post.ImageType!,(int)DefaultImage.BlogPostImage)" alt="Blog Post Images">
                                </a>
                            </div>
                            <div class="post-content border-warning col-8 col-md-5">
                                <div class="post-cat">
                                    <div class="post-cat-list">
                                        <a class="hover-flip-item-wrapper" asp-controller="Categories" asp-action="Details" asp-route-id="@post.CategoryId">
                                            <span class="hover-flip-item">
                                                <span data-text="@post.Category!.Name">@post.Category.Name</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <h4 class="title lightText">
                                    <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                                        @post.Title
                                    </a>
                                </h4>
                                <div class="post-meta-wrapper">
                                    <div class="post-meta">
                                        <div class="content">
                                            <h6 class="post-author-name">
                                                <span class="lightText">@post.Creator?.FullName</span>
                                            </h6>
                                            <ul class="post-meta-list">
                                                <li class="lightText">@post.DateCreated.ToString("MMM dd, yyyy")</li>
                                                @if (post.Comments.Count > 1)
                                                {
                                                    <li class="lightText"><span>@post.Comments.Count</span> total comments on this post.</li>
                                                }
                                                else if (post.Comments.Count == 1)
                                                {
                                                    <li class="lightText"><span>@post.Comments.Count</span> comment on this post.</li>
                                                }
                                                else
                                                {
                                                    <li class="lightText">No one has commented on this post yet.</li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                            {
                                <div class="row align-items-center justify-content-center mx-1">
                                    <div class="col-12 text-center">
                                        <form asp-controller="BlogPosts" asp-action="Publish" method="post">
                                            <input type="hidden" asp-for="@post.Id" name="id" />
                                            @{
                                                string btnPublish = post.IsPublished ? "Un-Publish" : "Publish";
                                            }
                                            <input type="submit" class="btn btn-primary rounded-pill editBtns" value="@btnPublish" />
                                        </form>
                                    </div>
                                    <div class="col-12 text-center">
                                        <a asp-controller="BlogPosts" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-info rounded-pill editBtns">Edit</a>
                                    </div>
                                    <div class="col-12 text-center">
                                        <form asp-controller="BlogPosts" asp-action="Delete" method="post">
                                            <input type="hidden" asp-for="@post.Id" name="id" />
                                            @{
                                                string btnDelete = post.IsDeleted ? "Un-Delete" : "Delete";
                                            }
                                            <input type="submit" class="btn btn-warning rounded-pill deleteBtn" value="@btnDelete">
                                        </form>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- End Post List  -->
                    }
                }

                <div class="b2">Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount</div>

                <div class="b2">@Html.PagedListPager(Model, pageNum => Url.Action("Details",new {pageNum, id=Model.FirstOrDefault()?.CategoryId}))</div>
            </div>
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <partial name="_Sidebar" />
            </div>
        </div>
    </div>
</div>
<!-- End Post List Wrapper  -->
@*
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@