@model IEnumerable<Blog_MVC.Models.Category>
@using Blog_MVC.Enums
@using Blog_MVC.Services.Interfaces
@using X.PagedList
@using X.PagedList.Mvc.Core
@inject IImageService _ImageService

@{
    ViewData["Title"] = "Index";
}

<h1></h1>
<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h2 class="title mb--40">Topics I've Written About</h2>
                </div>
                @if (User.Identity!.IsAuthenticated)
                {
                    <a class="mb-5 hover-flip-item-wrapper" asp-action="Create" asp-controller="Categories">
                        <span class="hover-flip-item">
                            <span class="b1" data-text="Write Something New">Write Something New</span>
                        </span>
                    </a>
                }
            </div>
            <div class="col-lg-8 col-xl-8">
                @foreach (Category category in Model)
                {
                    <!-- Start Post List  -->
                    <div class="content-block post-list-view mt--30">
                        <div class="post-thumbnail">
                            <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@category.BlogPosts">
                                <img src="@_ImageService.ConvertByteArrayToFile(category.ImageData!, category.ImageType!,(int)DefaultImage.BlogPostImage)" alt="Blog Post Images">
                            </a>
                        </div>
                        <div class="post-content">
                            <div class="post-cat">
                                <div class="post-cat-list">
                                    <a class="hover-flip-item-wrapper" asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id">
                                        <span class="hover-flip-item">
                                            <span data-text="@category.Description">@category.Description</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <h4 class="title">
                                <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id">
                                    @category.Name
                                </a>
                            </h4>
                            <div class="post-meta-wrapper">
                                <div class="post-meta">
                                    <div class="content">
                                        <ul class="post-meta-list">
                                            @if (category.BlogPosts.Count > 1)
                                            {
                                                <li><span>@category.BlogPosts.Count</span> total posts on this topic.</li>
                                            }
                                            else if (category.BlogPosts.Count == 1)
                                            {
                                                <li><span>@category.BlogPosts.Count</span> post on this topic.</li>
                                            }
                                            else
                                            {
                                                <li>No one has written about this topic yet.</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Post List  -->
                }

                @*<div class="b2">Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount</div>

                <div class="b2">@Html.PagedListPager(Model, pageNum => Url.Action("Index",new {pageNum}))</div>*@
            </div>
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <partial name="_Sidebar" />
            </div>
        </div>
    </div>
</div>