@model Blog_MVC.Models.BlogPost
@using Blog_MVC.Enums
@using Blog_MVC.Services.Interfaces
@inject IImageService _ImageService
@inject IBlogPostService _blogPostService

@{
    ViewData["Title"] = "Details";
    var tags = (await _blogPostService.GetTagsAsync()).OrderBy(t => t.BlogPosts.Count);
}

<!-- Start Post Single Wrapper  -->
<div class="post-single-wrapper axil-section-gap ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Start Banner Area -->
                <div class="banner banner-single-post post-formate post-layout">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Start Single Slide  -->
                                <div class="content-block">
                                    <!-- Start Post Content  -->
                                    <div class="post-content">
                                        <div class="post-cat">
                                            <div class="post-cat-list">
                                                <a class="hover-flip-item-wrapper" asp-controller="Categories" asp-action="Details" asp-route-id="@Model.CategoryId">
                                                    <span class="hover-flip-item">
                                                        <span data-text="@Model.Category!.Name">@Model.Category!.Name</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <h1 class="title lightText">
                                            @Model.Title
                                        </h1>
                                        <p class="mt-5 lightText">@Model.Abstract</p>
                                        <span class="b2 lightText">@Html.Raw(Model.Content)</span>
                                        <!-- Post Meta  -->
                                        <div class="post-meta-wrapper">
                                            <div class="post-meta">
                                                <div class="content">
                                                    <div class="tagcloud axil-single-widget mt-2">
                                                        @foreach (Tag tag in tags)
                                                        {
                                                            <a asp-controller="Tags" asp-action="Details" asp-route-id="@tag.Id" id="currentPostTags" class="lightText">@tag.Name</a>
                                                        }
                                                    </div>
                                                    <ul class="post-meta-list mt-3">
                                                        <li class="lightText">@Model.DateCreated.ToString("MMM dd, yyyy")</li>
                                                        <li class="lightText">@Model.Comments.Count Comments</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Post Content  -->
                                </div>
                                <!-- End Single Slide  -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Banner Area -->
                <!-- Start Author  -->
                <div class="about-author">
                    <div class="media">
                        <div class="thumbnail me-3">
                            <img src="~/img/profpic_200.png" alt="Blog Post Author Image" class="img-100 rounded-circle">
                        </div>
                        <div class="media-body">
                            <div class="author-info">
                                <h5 class="title">
                                    <span class="b1 lightText">@Model.Creator?.FullName</span>
                                </h5>
                                <span class="b3 subtitle lightText">Fullstack Web Developer</span>
                            </div>
                            <div class="content">
                                <p class="b2">About Me:</p>
                                <span class="b1 description">
                                    I'm creating awesome websites with powerful & flexible functionalities
                                    and beautiful front ends! I used C# in ASP.Net 6.0 plus Bootstrap & Javascript to make this blog!
                                    Check out my portfolio to see what else I've made and what I'm able to bring to your team!
                                </span>
                                <ul class="social-share-transparent size-md">
                                    <li><a href="https://www.github.com/aDOTyang"><i class="fab fa-github"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/alexyanglinked"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="mailto:ayangdevv@gmail.com"><i class="far fa-envelope"></i></a></li>
                                    <li><a href="https://alexyang.netlify.app/"><i class="bi bi-journal-album"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Author  -->
                <!-- Start Comment Form Area  -->
                <div class="axil-comment-area mt-3">

                    @if (User.Identity!.IsAuthenticated)
                    {
                        <!-- Start custom Add Comment  -->
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Create" asp-controller="Comments" method="post">
                                    @* asp-for tells the form what value to look for (where Id is 'Id' in BlogPost class),
                                name then tells it what to call it in when Posting -> Id turns into BlogPostId so it can be used by CommentsController *@
                                    <input type="hidden" asp-for="Id" name="BlogPostId" />
                                    <input type="hidden" asp-for="Slug">
                                    <div class="form-group text-dark">
                                        <label class="control-label">Add a Comment</label>
                                        <textarea name="Body" class="form-control editor"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-primary my-3" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End custom Add Comment -->
                    }

                    <!-- Start Comment Area  -->
                    <div class="axil-comment-area">
                        <h4 class="title lightText"><span>@Model.Comments.Count()</span> comments on this post.</h4>
                        <ul class="comment-list">
                            <!-- Start Single Comment  -->
                            @foreach (Comment comment in Model.Comments)
                            {
                                <li class="comment">
                                    <div class="row">
                                        <div class="single-comment col-md-12">
                                            <div class="media me-3">
                                                <img src="@_ImageService.ConvertByteArrayToFile(comment.Author?.ImageData!, comment.Author?.ImageType!, (int)DefaultImage.BlogUserImage)" alt="Comment Author Image" class="h-75 rounded-circle">
                                            </div>
                                            <div class="comment-inner col-8">
                                                <h6 class="commenter lightText">
                                                    <span data-text="@comment.Author?.FullName">@comment.Author?.FullName</span>
                                                </h6>
                                                <div class="comment-meta">
                                                    <div class="time-spent">@comment.DateCreated.ToLocalTime().ToString("MM/dd/yy, hh:mm tt")</div>
                                                </div>
                                                <div class="lightText">
                                                    <p class="b2 lightText">
                                                        <div class="col-10 lightText">@Html.Raw(comment.Body)</div>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            <!-- End Single Comment  -->
                        </ul>
                        <div>
                            @if (User.IsInRole("Administrator"))
                            {
                                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary rounded-pill mt-3 me-3">Edit</a> <span></span>
                                <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-primary rounded-pill mt-3 me-3">Delete</a>
                            }
                            <a asp-action="Index" asp-controller="BlogPosts" class="btn btn-primary rounded-pill mt-3">Back to List</a>
                        </div>
                        <!-- End Comment Area  -->

                    </div>
                    <!-- End Comment Form Area  -->
                </div>
            </div>
            <!-- Start Sidebar Area  -->
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <partial name="_Sidebar" />
            </div>
            <!-- End Sidebar Area  -->
        </div>
    </div>
</div>

<!-- End Post Single Wrapper  -->
@section scripts{
    <script>
        ClassicEditor
            .create(document.querySelector('.editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

    @*    <script>
        function filterTags(ele) {
            let input = document.getElementById('currentPostTags');
            if (ele.classList.contains('hideTag')) {
                return;
            }
        }
    </script>*@
    }